@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/mdn-like.css';

.tabSubheader {
    font-family: 'Raleway', Sans-Serif;
    font-size: 20px;
    font-weight: bold;
}

.listWrapper {
    Font-Family: 'Open Sans', Sans-Serif;
}

.listEntry {
    margin: 15px 0;
}

.statement {
    Font-Family: 'Open Sans', Sans-Serif;
    width: 100%;
}

.innerTab {
    padding-left: 15px;
}

a.datalink {
    color: darkcyan !important;
}

.womanImage {
    margin-top: 0px;
    height: 50%;
    margin-left: 20px;
}

.card-header {
    padding: .5rem 1rem !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    padding: .5rem 1rem;
}

.cardWrapper {
    margin-left: 110px;
}

.singleCard {
    margin-bottom: 30px;
}

.motivQuote {
    padding-bottom: 20px;
}

.galleryWrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}