.galleryWrapper {
    margin-top: 50px;
}

.galleryTitle {
    font-family: 'Raleway', Sans-Serif;
    font-weight: bold;
}

.orig {
    border: 2px solid red;
    width: 90px;
}

.process {
    border: 2px solid lightgreen;
    width: 122px;
}

g.tick[style="transform: translate3d(385px, 0px, 0px);"] > .labelGroup > .tickLabel {
    transform: translate3d(-5px, 20px, 0px) rotate(0deg) !important;
}

.col-sm-2 {
    z-index: -5 !important;
}