.galleryWrapper {
    margin-top: 80px;
}

.galleryTitle {
    Font-Family: 'Raleway', Sans-Serif;
    font-weight: bold;
}

.orig {
    width: 90px;
}

.process {
    width: 122px;
}

g.tick[style="transform: translate3d(385px, 0px, 0px);"] > .labelGroup > .tickLabel {
    transform: translate3d(-5px, 20px, 0px) rotate(0deg) !important;
}

g.tick[style="transform: translate3d(366px, 0px, 0px);"] > .labelGroup > .tickLabel {
    transform: translate3d(-5px, 20px, 0px) rotate(0deg) !important;
}

g.tick[style="transform: translate3d(360px, 0px, 0px);"] > .labelGroup > .tickLabel {
    transform: translate3d(-5px, 20px, 0px) rotate(0deg) !important;
}

.col-sm-2 {
    z-index: -5 !important;
}