.headerStyle {
  Font-Family: 'Raleway', Sans-Serif;
  Font-Size: 44px;
}

.bodyStyle {
  Font-Family: 'Open Sans', Sans-Serif;
  Font-Size: 15px;
}

.siteWrapper {
  padding: 15px !important;
}

/* Container overrides */
.container {
  margin: 0 !important;
}

/* Navlink overrides */
.nav-link {
  cursor: pointer;
}

/* Classes used for pages that have tabs */

.tabsWrapper {
  padding: 20px;
}

.tabContentWrapper {
  padding-top: 30px;
}

.defaultTab {
  Font-Family: 'Open Sans', Sans-Serif;
  color: #84bcb3;
}

